<div class="container__background">
    <section class="container container__mirazur" (click) = "createCardClick()">
     <img class="img img__container img__container-mirazur" src="/assets/images/Restaurant At.jpg">
     <p class="text text__container tex__container-mirazur">
       1.Mirazur Restaurant
     </p>
    </section>
    <section  class="window window__mirazu" *ngIf = "showHideMirazur" @animationWindow>
    <p class="window__mirazu window__mirazu-text" > {{name}} <br> {{information}}</p>
    <button class="btn btn__close" (click) = "createCardClick()">Close</button>
    </section>
   
    
    
    
    
    